<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<div id="navigation-bar" class="row-flex">
    <div>
        <a class="classic-btn" href="/" >Logo</a>
    </div>
    <div class="auto-left">
        <a class="classic-btn" href="/admin/staff" id="general-info-schedule">Staff</a>
        <a class="classic-btn" href="/admin/customer" id="general-info-reports">Customers</a>
        <a class="classic-btn" href="/logout" type="button">Logout</a>
    </div>
</div>




</body>
</html>