<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin/staff.css">
    <script  type="module"  src="/js/admin/staff.js"></script>

</head>
<body>
<div id="navigation-bar" class="row-flex">
    <div>
        <a class="classic-btn" href="/" >Logo</a>
    </div>
    <div class="auto-left">
        <a class="classic-btn" href="/admin/staff" id="general-info-schedule">Staff</a>
        <a class="classic-btn" href="/admin/customer" id="general-info-reports">Customers</a>
        <a class="classic-btn" href="/logout" type="button">Logout</a>
    </div>
</div>

<div class="row-flex" id="staff-main-box">
    <div id="register-staff" class="col-flex-center">
        <div class="row-flex-center">

        <form id="register-staff-form">
            <div class="label-input-box">
                <p class="label medium-text">Username</p>
                <input type="text" name="username" class="medium-text">
            </div>
            <div class="label-input-box">
                <p class="label medium-text">First Name</p>
                <input type="text" name="first_name" class="medium-text">
            </div>
            <div class="label-input-box">
                <p class="label medium-text">Last Name</p>
                <input type="text" name="last_name" class="medium-text">
            </div>

            <div class="label-input-box">
                <p class="label medium-text">Password</p>
                <input type="password" name="password" id="staff-password" class="medium-text">
            </div>

            <div class="label-input-box">
                <p class="label medium-text">Confirm Password</p>
                <input type="password" id="staff-confirm-password" class="medium-text">
            </div>

            <div class="label-input-box">
                <p class="label medium-text">Addiction Speciality</p>
                <select id="addiction-speciality"  name="speciality" class="medium-text"></select>
            </div>
        <p class="para-text" id="staff-add-err"></p>
        <button id="submit-add-staff" class="classic-btn auto-left">Add Staff</button>
        </form>
    </div>
    </div>
    <div id="all-staff">
        <p class="large-text" style="margin: 0px;text-align: center">All Staff</p>
        <table id="all-staff-table">
            <tr>
                <th>Username</th>

                <th>Name</th>
                <th>Speciality</th>
                <th>Link</th>

            </tr>
        </table>

    </div>
</div>

</body>
</html>