<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login/login.css">
    <script src="/js/login.js"></script>

</head>
<body>
    <div id="login-form">
        <div class="label-input-box">
            <p class="label medium-text">Username</p>
            <input id="login-username" type="text" class="medium-text">
        </div>
        <div class="label-input-box">
            <p class="label medium-text">Password</p>
            <input id="login-password" type="password" class="medium-text">
        </div>

        <input type="submit" id="login-submit">
        <p id="login-err" class="para-text"></p>
    </div>

<p class="para-text">Not have an account?<a href="/register"> Register</a></p>
</body>


</html>