<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login/register.css">
    <script type="module" src="/js/register.js"></script>
</head>
<body>
<form id="register-customer-form">
    <div class="label-input-box">
        <p class="label medium-text">Username</p>
        <input id="username" name="username" type="text" class="medium-text">
    </div>


    <div class="label-input-box">
        <p class="label medium-text">Password</p>
        <input id="password" name="password" type="password" class="medium-text">
    </div>


    <div class="label-input-box">
        <p class="label medium-text">Confirm Password</p>
        <input id="confirm-password" type="password" class="medium-text">
    </div>

        <div class="label-input-box">
            <p class="label medium-text">First Name</p>
            <input type="text" name="first_name" class="medium-text">
        </div>
        <div class="label-input-box">
            <p class="label medium-text">Last Name</p>
            <input type="text" name="last_name" class="medium-text">
        </div>
    <div class="label-input-box">
        <p class="label medium-text">Phone Number</p>
        <input type="text" name="phone_num" class="medium-text">
    </div>

    <div class="label-input-box">
        <p class="label medium-text">What kind addiction you need help with?</p>
        <select id="addiction-kind"  name="addiction_kind" class="medium-text"></select>
    </div>



        <input type="button" value="Register" class="classic-btn" id="register-submit">

    <p class="para-text" id="err-register-field"></p>
</form>

</body>


</html>